<!document html>
<html>
<head>

</head>
<body>
<div class="md">
	{% if error%}<div class="error">Error: {{error}}</div>{%endif%}
	<h3>*표시는 필수 입력 사항입니다.</h3>
	<form action="{{url_for('register')}}" method='POST'>
		<table>
			<tr>
				<td>아이디: </td><td><input type="text" name="username"> *</td>
			</tr>
			<tr>
				<td>비밀번호: </td><td><input type="password" name="password"> *</td>
			</tr>
			<tr>
				<td>비밀번호 확인: </td><td><input type="password" name="password"> *</td>
			</tr>
			<!--			<tr>
				<td>이메일주소: </td><td><input type="text" name="username"> </td>
			</tr>
			<tr>
				<td>전화번호: </td><td><input type="text" name="username"> </td>
			</tr>
			<tr>
				<td>공부지역: </td><td><input type="text" name="username"> </td>
			</tr>
			<tr>
				<td>시험 응시 유형: </td><td><input type="text" name="username"> </td>
			</tr>-->
		</table>
		<input id="rbtn" class="btn btn-primary" type="submit" value="가입하기">
	</form>
</div>
</body>
<html>	
